@import url("https://r-and-b-ui.netlify.app/component.css");

:root {
  --grey: #202020;
}

.App {
  height: 100%;
  max-width: min(85vw, 100%, 960px);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  margin-top: 8px;
}