:root {
  --green-success: #07bc0c;
}


html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn:active {
  transition: 1000ms ease-in-out;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #ac1111;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #e5e5e5;
}

input:invalid {
  animation: error 1000ms infinite; 
}

@keyframes error {
  0% {
    border: 1px dashed var(--red);
  }

  50% {
    border: 1px dashed white;
  }

  100% {
    border: 1px dashed var(--red);
  }
}

@keyframes slide-up {
  
  0% {
    transform: scaleX(0.5) scaleY(0.5) translateY(60%);
    opacity: 0;
  }
  
  100% {
    transform: scaleX(1) scaleY(1) translateY(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(60%);
    opacity: 0;
    display:none;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes settle-in {
  0% {
    transform: scale(0) translate(10%, 10%);
  }
  100% {
    transform: scale(1) translate(0%, 0%);
  }
}