.rules-modal {
  position: absolute;
  box-shadow: 100px 100px 0px 100vh #040404a8;
  left: 35%;
  padding: 5rem;
  background-color: var(--grey);
  border-radius: 10px;
}
.rules-title {
  background-color: transparent;
}
.rules {
  background-color: transparent;
}
.rules-list {
  color: var(--white);
  background-color: transparent;
}
.close-btn {
  position: absolute;
  color: var(--white);
  top: 0;
  right: 0;
  margin: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--white);
  padding-inline: 5px;
  border-radius: 50%;
}

.display-none {
  display: none;
}
